
.vs/PDFtoText/v15/.suo
.vs/PDFtoText/v15/Server/sqlite3/db.lock
.vs/PDFtoText/v15/Server/sqlite3/storage.ide
.vs/PDFtoText/v15/Server/sqlite3/storage.ide-shm
.vs/PDFtoText/v15/Server/sqlite3/storage.ide-wal
.vs/PDFtoText/v16/.suo
.vs/PDFtoText/v16/.suo
